

<div class="div1">
	<h1>Сайт пошуку роботи №1 в Україні! </h1>
	<p>Все ще не можеш знайти роботу своєї мрії? Тоді тобі до нас, у нас ти швидко знайдеш вакансію для себе</p>

    <div class="row">
			<% if user_signed_in? %>
			<% if current_user.employeesparams.nil? %>
			<div class="col btn btn-light"><%= link_to "Розмістити резюме", new_user_employeesparam_path(current_user.id), class: "nav-link text-dark" %></div>

			<% else %>
			<div class="col btn btn-light"><%= link_to "Розмістити резюме", new_user_employeesparam_path(current_user.id), class: "nav-link text-dark" %></div>

			<div class="col btn btn-light"><%= link_to "Мої резюме", user_employeesparams_path(current_user.id), class: "nav-link text-dark" %></div>
    <% end%>
		 <div class="col btn btn-light"><%= link_to "Моя вакансія", employer_path(current_user.id), class: "nav-link text-dark" %></div>

   <div class="col btn btn-light"><%= link_to "Розмістити вакансію", new_employer_path, class: "nav-link text-dark" %></div>
     <% end %>
</div>
</div>


<div class="div2">
<h2>Пошук по категоріям:</h2><br>
<% @categories.each do |x| %>
	<%= link_to x.title, category_path(x),class: " text-dark"  %> <br>
<% end %>
</div>
