<div class="fields">
	<div class="items">
<strong>Ім'я:</strong> <%= current_user.employeesparam.firstname %><br />
</div>
<div class="items">
<strong >Фамілія:</strong> <%= current_user.employeesparam.lastname %><br />
</div>
<div class="items">
<strong >Вік:</strong> <%= current_user.employeesparam.age %><br />
</div>
<div class="items">
<strong >Місто:</strong> <%= current_user.employeesparam.city %><br />
</div>
<div class="items">
<strong >Адреса:</strong> <%= current_user.employeesparam.address %><br />
</div>
<div class="items">
<strong >Номер телефону:</strong> <%= current_user.employeesparam.phonenumber %><br />
</div>
<div class="items">
<strong >Посада, яку б хотіли отримати:</strong> <%= current_user.employeesparam.position %><br />
</div>
<div class="items">
<strong >Бажане місто роботи:</strong> <%= current_user.employeesparam.cityofwork %><br />
</div>
<div class="items">
<strong>Вид занятості:</strong> <%= current_user.employeesparam.typeofemployment %><br />
</div>
<div class="items">
<strong>Рівень:</strong> <%= current_user.employeesparam.education %><br />
</div>
<div class="items">
<strong>Факультет:</strong> <%= current_user.employeesparam.faculty %><br />
</div>
<div class="items">
<strong>Характеристика:</strong> <%= current_user.employeesparam.body %><br />
</div>
</div>
<div class="buttons">
<li class="params" ><%= link_to "Редагувати", edit_employeesparam_path(current_user.id), class: "btn btn-outline-dark"  %></li><br />
<li  class="params" ><%= link_to "Видалити", employeesparam_path(current_user.id), method: :delete , class: "btn btn-outline-dark"  %></li>
	</div>