

<%= form_for @employeesparam, url: employeesparams_path do |f| %>
<% if @employeesparam.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@employeesparam.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
    <% @employeesparam.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
    </ul>
  </div>
<% end %>
<h1 class="text-dark">Створити резюме</h1>
<div class="fields" >
<h4>Ім'я</h4>
<div class="pole"><%= f.text_field :firstname%></div>
<h4>Фамілія</h4>
<div class="pole"><%= f.text_field :lastname%></div>
<h4>Вік</h4>
<div class="pole"><%= f.text_field :age%></div>
<h4>Місто</h4>
<div class="pole"><%= f.text_field :city%></div>
<h4>Адреса</h4>
<div class="pole"><%= f.text_field :address%></div>
<h4>Номер телефону</h4>
<div class="pole"><%= f.text_field :phonenumber%></div>
<hr >
<h4>Посада, яку б хотіли отримати</h4>
<div class="pole"><%= f.text_field :position%></div>
<h4>Бажане місто роботи</h4>
<div class="pole"><%= f.text_field :cityofwork%></div>
<h4>Вид занятості</h4>
<div class="pole"><%= f.text_field :typeofemployment%></div>
<hr >
<h1>Освіта</h1>
<h4>Рівень</h4>
<div class="pole"><%= f.text_field :education%></div>
<h4>Факультет</h4>
<div class="pole"><%= f.text_field :faculty%></div>
<h4>Характеристика</h4>
<div class="caracters"><%= f.text_field :body%></div>
<div class="actions"><%= f.submit "Створити" %></div>
</div>
<% end %>
