<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <%= link_to "Home", root_path, class: "navbar-brand" %>
   
    <ul class="navbar-nav ml-auto">

<% if user_signed_in? %>
  <li><%= link_to "Розмістити резюме", new_employeesparam_path %> </li>
   <li><%= link_to "Знайти вакансію", employers_index_path %></li>
  <li><%= link_to "Вийти",  destroy_user_session_path, method: :delete %></li>
  <% else %>
   <li><%= link_to "Увійти", new_user_session_path %></li>
  <% end %>
      </ul>
</nav>

