<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <%= link_to "Home", root_path, class: "navbar-brand" %>
   
    <ul class="navbar-nav ml-auto">
      
<% if user_signed_in? %>
<li class="nav-item">
  <li class="rezume"><%= link_to "Розмістити резюме |", new_employeesparam_path, class: "nav-link text-white" %> </li>
  <li class="vakansia"><%= link_to "Знайти вакансію |", employers_index_path, class: "nav-link text-white" %></li>
  
  <li class="logout"><%= link_to "Вийти",  destroy_user_session_path, method: :delete, class: "nav-link text-white" %></li>
  <% else %>
   <li class="login"><%= link_to "Увійти", new_user_session_path, class: "nav-link text-white" %></li>
  <% end %>
      </ul>
</nav>



